<h1>Chart Toppers</h1>
<h1><%= @billboard.chart_name %></h1>
<h4>Name: <%= @artist.artist_name %></h4>
<h4> <%# @artist.A V A T A R %></h4>
<br />
<h2>Songs</h2>
<% @artist.songs.each do |x| %>
  <%= render 'songs/song', { song: x } %>
<% end %>
<br />
<%= link_to 'Add Song', new_artist_song_path(@artist), class: "ui button blue" %>
<br />
<br />
<%= link_to 'Edit artist', edit_billboard_artist_path([@billboard, @artist]) %> |
<%= link_to 'Delete artist', [@billboard, @artist], method: :delete %> |
<%= link_to 'Back To artists', billboard_artists_path(@billboard) %>

